<br>
<h1>QUIZZES NEW</h1>


<div class = "bulk">
	<a href="/interval"><button class="indexButton">INTERVAL</button></a>
	<a href="/chord"><button class="indexButton">CHORD</button></a>
	<a href="/scale"><button class="indexButton">SCALE</button></a>


<br>
<h2>High Scores</h2>

<h3>Interval</h3>
	<% @quizzes.each do |quiz| %>
		<p>
			<%= quiz.quiz_taker %> - <%= quiz.score %> - <%= quiz.quiz_type %>
		</p>


	<% end %>



</div>




<script>


	$(".bulk").fadeIn("slow");

	//prevents timer from stacking intervals
	if (typeof interval !=='undefined') {
		console.log('cleared interval!');
		clearInterval(interval);
	}


</script>