<h1>About</h1>



<script>
	
		//creates 30 blank board nodes---------

	// for (var i = 1; i < 31; i++) {
    					
 //    	$.ajax({
 //    		type: "POST",
 //   			url: ["/board_nodes/"],
 //   			data: {board_node: {
	// 		quiz_id: 0,
	// 		score: 0,
	// 		name: "---"
	// 		}
 //    	}
 //    	});
 //    }

    //-------------------------------------


	
	//prevents timer from stacking intervals
	if (typeof interval !=='undefined') {
		console.log('cleared interval!');
		clearInterval(interval);
	}


</script>