<br>
<h1>CHORD QUIZ</h1>

	<div class = "bulk">
		<div class = "data2"></div>
		<div class = "data3"></div>
		<div class = "data"></div>
		<button id="start_quiz">Start Quiz</button>
		<div id="restart_spot"></div>
		<div class = "response"><br></div>

		<div id="timer_spot"></div>

		<div id="playbackSpot"></div>

		<div id="answerSpot"></div>

		<br>

		<form id="myform">
			Name: <input type="text" id="useranswer"/>
			<input type="submit" value="Submit Score" />
		</form> 

	</div>



<script>

	var Question = function(note1, note2, note3){
			this.note1 = note1;
			this.note2 = note2;
			this.note3 = note3;
			this.answer = note2.label;
			this.submittedanswer = "";
			this.time = 0;
			this.points = 0;
		}


	Question.prototype.get_answer = function(){
			return this.answer
		}

	Question.prototype.get_submittedanswer = function(){
			return this.submittedanswer
		}

	Question.prototype.set_submittedanswer = function(x){
			this.submittedanswer = x;
		}

	Question.prototype.check_answer = function(){
			if (this.answer === this.submittedanswer){
				this.correct = true;
				
				this.points = seconds * 100;

				response.html("CORRECT");

				console.log("CORRECT");
			} else {
				this.correct = false;
				this.points = 0;

				response.html("INCORRECT");

				console.log("INCORRECT")
			}
			
			this.time = seconds;


			return this.correct
		}

	
	var note1 = new Note("A", "root", 440, 0);
	var note2 = new Note("", "Third", 440, 0);
	var note3 = new Note("", "Seventh", 440, 0);

	var notenames = ["A", "A#", "B", "C", "C#", "D", "D#", "E", "F", "F#", "G", "G#"];

	var gimme = ""
	var first = true;
	var seconds = 0;
	var points;
	

	var response = $('.response');
	var dataElement = $('.data');
	var dataElement2 = $('.data2');
	var dataElement3 = $('.data3');
	var startQuiz = $("#start_quiz");
	var PLAYBACKSPOT = $("#playbackSpot");
	var ANSWERSPOT = $("#answerSpot");
	var RESTARTSPOT = $("#restart_spot");
	var timerSpot = $("#timer_spot");

	var repeatbutton;
	var repeatListener;

	var answerButton1;
	var answerButton2;
	var answerButton3;
	var answerButton4;
	var answerButton5;

	var note1button;
	var note2button;
	var note3button;
	

	var interval;
	var timer = function() {
	    	document.getElementById('timer_spot').innerHTML = --seconds;

	    	if (seconds == 0) {
	    		answer(current_question,thequiz,"TIMEOUT");
	    	}

	};




	//prevents timer from stacking intervals
	if (typeof interval !=='undefined') {
		console.log('cleared interval!');
		clearInterval(interval);
	}




	//used to communicate question index number to various functions
	var current_question = 0; 

	var chords = [
		[3, 10, "Minor Seventh"],
		[4, 10, "Dominant Seventh"],
		[4, 11, "Major Seventh"],
		[3, 12, "Minor"],
		[4, 12, "Major"],
	];

	var audioctx = new AudioContext();

	$(".bulk").fadeIn("slow");

	thequiz = new Quiz(5);
	
	//presents question and increases current_question
	startQuiz.on('click', function(){

		//creates playback buttons
		note1button = createNoteButton("Play Note 1", "1", "playbackSpot" );
		note2button = createNoteButton("Play Note 2", "2", "playbackSpot" );
		note3button = createNoteButton("Play Note 3", "3", "playbackSpot" );


		//creates button + event listener to play chord
		repeatbutton = document.createElement("BUTTON");
		var t = document.createTextNode("Play Chord");
		repeatbutton.appendChild(t);
		document.getElementById("playbackSpot").appendChild(repeatbutton);

		repeatListener = function(){

			playTone(thequiz.get_question(current_question).note1);
			playTone(thequiz.get_question(current_question).note2);
			playTone(thequiz.get_question(current_question).note3);

		}

		repeatbutton.addEventListener('click', repeatListener);



		//----------ANSWER BUTTONS-----------------------------------------------
		//-----------------------------------------------------------------------
		answerButton1 = createAnswerButton("Minor Seventh", "answerSpot");
		answerButton2 = createAnswerButton("Major Seventh", "answerSpot");
		answerButton3 = createAnswerButton("Dominant Seventh", "answerSpot");
		answerButton4 = createAnswerButton("Minor", "answerSpot");
		answerButton5 = createAnswerButton("Major", "answerSpot");


		present_question(current_question,thequiz)

		//hides start quiz button
		startQuiz.hide();		

	});

	//action on form submit
	//saves quiz to database
	$(document).ready(function (){
		$('#myform').on('submit', function(e){
			e.preventDefault();
			console.log("Grabbed form stuff");
			gimme = document.getElementById("useranswer").value;

			$.ajax({
    			type: "POST",
    			url: "/quizzes",
    			data: {quiz: {
    				quiz_type: "Chord Quiz",
    				quiz_taker: gimme,
    				score: points
    				}
    			}
    		});
			document.location.href="/"
		});
	});



	//generates two notes for question and assigns them to quiz on given index
	//also plays notes
	function genQuestion(index,quiz){

		genNoteSet();

		toggleEventListeners(false);

		let question = new Question(note1,note2,note3);
		quiz.set_question(index,question);
		
		playTone(thequiz.get_question(index).note1);
		playTone(thequiz.get_question(index).note2);
		playTone(thequiz.get_question(index).note3);

		setTimeout(function(){playTone(note1);}, 1600);
		setTimeout(function(){playTone(note2);}, 2600);
		setTimeout(function(){playTone(note3);}, 3600);

		setTimeout(function(){toggleEventListeners(true);}, 4100);

	}
	


	//creates note with given steps offset from A4 (440 hertz)
	function create_note(steps){
		
		hertz = 440;

		const a = Math.pow(2, 1/12)
			
		label = chords[chordtype][2];
	
		mod = steps;

		while (11 < mod) {
			mod = mod - 12;
		}

		while (0 > mod) {
			mod = mod + 12;
		}

		name = notenames[mod];
	
		hertz = hertz * Math.pow(a, steps);
		
		console.log("Creating " + name + ", " + label + ", " + hertz + ", " + steps + ", ");
		
		return new Note(name, label, hertz, steps);

	}

	//generates a noteset for chord with all 3 chord tones
	function genNoteSet(){

		chordtype = randNum(0,4);
		initialoffset = randNum(-12,12)


		note1 = create_note(initialoffset);
		note2 = create_note(initialoffset + chords[chordtype][0]);
		note3 = create_note(initialoffset + chords[chordtype][1]);

	}



	//generates question using genQuestion function and presents it to page
	function present_question(index,quiz){

		genQuestion(index,quiz);

		dataElement2.html("Question #" + (index + 1) + " of " + quiz.question_total);

		dataElement3.html("Total points: " + quiz.total_points + " ------- Strikes: " + quiz.strikes);

		dataElement.html(" Got " + note1.name + ", " + note2.name + ", " + note3.name + ". " + note2.label + "" );



		seconds = 20;

		document.getElementById('timer_spot').innerHTML = seconds;


		
	}


	

	//runs on quiz completion
	function end(quiz) {

		clearInterval(interval);

		dataElement2.html(quiz.total_points + " points earned");
		dataElement3.html("");

		console.log("all done");
		PLAYBACKSPOT.hide();
		ANSWERSPOT.hide();
		timerSpot.hide();

		$("#myform").fadeIn("slow");
		points = quiz.total_points;
		
		dataElement.html("QUIZ COMPLETE");
		response.html((quiz.question_total - quiz.strikes) + " out of " + quiz.question_total + " correct");



		if (first) {
			var restartButton = document.createElement("BUTTON");
			var t = document.createTextNode("Restart Quiz");
			restartButton.appendChild(t);
			document.getElementById("restart_spot").appendChild(restartButton);

			restartButton.addEventListener('click', function(){

				current_question = 0;
				thequiz = new Quiz(5);

				response.html("");

				PLAYBACKSPOT.show();
				ANSWERSPOT.show();

				present_question(current_question,thequiz)

				$("#myform").fadeOut("fast");

				RESTARTSPOT.hide();
				timerSpot.show();

				interval = setInterval(function() {
	    			document.getElementById('timer_spot').innerHTML = --seconds;

			    	if (seconds == 0) {
			    		answer(current_question,thequiz,"TIMEOUT");
			    	}

				}, 1000);


				first = false;

			}) } else {
		RESTARTSPOT.show();
	};


	}


	//toggles event button listeners. True for on, false for off
	//also stops and starts timer
	function toggleEventListeners(type) {

		if (type) {

			interval = setInterval(timer,1000);

			document.getElementById('timer_spot').style.color="white";

			repeatbutton.addEventListener('click', repeatListener);

			note1button.button.addEventListener('click', note1button.listener);
			note2button.button.addEventListener('click', note2button.listener);
			note3button.button.addEventListener('click', note3button.listener);

			answerButton1.button.addEventListener('click', answerButton1.listener);
			answerButton2.button.addEventListener('click', answerButton2.listener);
			answerButton3.button.addEventListener('click', answerButton3.listener);
			answerButton4.button.addEventListener('click', answerButton4.listener);
			answerButton5.button.addEventListener('click', answerButton5.listener);
			

		} else {
				
			clearInterval(interval);

			document.getElementById('timer_spot').style.color="grey";

			repeatbutton.removeEventListener('click', repeatListener);

			note1button.button.removeEventListener('click', note1button.listener);
			note2button.button.removeEventListener('click', note2button.listener);
			note3button.button.removeEventListener('click', note3button.listener);

			answerButton1.button.removeEventListener('click', answerButton1.listener);
			answerButton2.button.removeEventListener('click', answerButton2.listener);
			answerButton3.button.removeEventListener('click', answerButton3.listener);
			answerButton4.button.removeEventListener('click', answerButton4.listener);
			answerButton5.button.removeEventListener('click', answerButton5.listener);
			

		};

	}

	

</script>