<h1>Welcome to the game zone</h1>
	<p>
		
		<button id="btn">Click me brother</button>

	</p>




<script>
	
	var audioctx = new AudioContext();


	let btn = document.getElementById('btn');

	
	btn.addEventListener('click', function buttonClicked(){
		playTone(200);
	});


	function playTone(hertz){
		console.log("playing tone");

		var oscillator = audioctx.createOscillator();

		oscillator.type = 'square';
		oscillator.frequency.setValueAtTime(hertz, audioctx.currentTime);

		oscillator.connect(audioctx.destination);

		oscillator.start(audioctx.currentTime);
		oscillator.stop(audioctx.currentTime + 1);
	}



	//oscillator.onended = function(){
	//	oscillator.disconnect(audioctx.destination);
	//	console.log("HEY");
	//}




</script>