<h1>Title</h1>
<p>Games:</p>
<a href="/interval"> Interval Quiz </a>
<br>
<a href="/chord"> Chord Quiz </a> 
<br>
<a href="/scale"> Scale Quiz </a>




<script>

	//prevents timer from stacking intervals
	if (typeof interval !=='undefined') {
		console.log('cleared interval!');
		clearInterval(interval);
	}





</script>