<h1>QUIZZES</h1>


<div class = "bulk">
	<button class="indexButton"><a href="/interval">INTERVAL</a></button>
	<button class="indexButton"><a href="/chord">CHORD</a></button>
	<button class="indexButton"><a href="/scale">SCALE</a></button>
</div>




<script>

	//prevents timer from stacking intervals
	if (typeof interval !=='undefined') {
		console.log('cleared interval!');
		clearInterval(interval);
	}


</script>