<br>
<h1>QUIZZES</h1>


<div class = "bulk">
	<a href="/interval"><button class="indexButton">INTERVAL</button></a>
	<a href="/chord"><button class="indexButton">CHORD</button></a>
	<a href="/scale"><button class="indexButton">SCALE</button></a>
</div>




<script>

	//prevents timer from stacking intervals
	if (typeof interval !=='undefined') {
		console.log('cleared interval!');
		clearInterval(interval);
	}


</script>