<h1>SCALE QUIZ</h1>

	<div class = "bulk">
		<div class = "data2"></div>
		<div class = "data3"></div>
		<div class = "data"></div>
		<button id="start_quiz">Start Quiz</button>
		<div id="restart_spot"></div>
		<div class = "response"><br></div>

		<div id="playbackSpot"></div>

		<div id="answerSpot"></div>
	</div>



<script>

	
	var Note = function(name, label, hertz, steps){
		this.name = name;
		this.label = label;
		this.hertz = hertz;
		this.steps = steps;

	}


	var Quiz = function(question_total){
			this.question_total = question_total;
			this.strikes = 0;
			this.array = new Array(question_total);
	}

	Quiz.prototype.get_question = function(id){
			return this.array[id]
		}

	Quiz.prototype.set_question = function(id,question){
			this.array[id] = question;
		}

	Quiz.prototype.get_strikes = function(){
			return this.strikes;
		}


	Quiz.prototype.add_strike = function(){
		this.strikes = this.strikes + 1;
	}



	var Question = function(note1, note2, note3, note4, note5, note6, note7, note8){
			this.note1 = note1;
			this.note2 = note2;
			this.note3 = note3;
			this.note4 = note4;
			this.note5 = note5;
			this.note6 = note6;
			this.note7 = note7;
			this.note8 = note8;

			this.answer = note2.label;
			this.submittedanswer = "";
		}


	Question.prototype.get_answer = function(){
			return this.answer
		}

	Question.prototype.get_submittedanswer = function(){
			return this.submittedanswer
		}

	Question.prototype.set_submittedanswer = function(x){
			this.submittedanswer = x;
		}

	Question.prototype.check_answer = function(){
			if (this.answer === this.submittedanswer){
				this.correct = true;
				
				response.html("CORRECT");

				console.log("CORRECT");
			} else {
				this.correct = false;
				
				response.html("INCORRECT");

				console.log("INCORRECT")
			}
			return this.correct
		}

	
	var note1 = new Note("A", "root", 440, 0);
	var note2 = new Note("", "Second", 440, 0);
	var note3 = new Note("", "Third", 440, 0);
	var note4 = new Note("", "Fourth", 440, 0);
	var note5 = new Note("", "Fifth", 440, 0);
	var note6 = new Note("", "Sixth", 440, 0);
	var note7 = new Note("", "Seventh", 440, 0);
	var note8 = new Note("", "Octave", 440, 0);

	var notenames = ["A", "A#", "B", "C", "C#", "D", "D#", "E", "F", "F#", "G", "G#"];

	var first = true;
	var gimme = ""

	var response = $('.response');
	var dataElement = $('.data');
	var dataElement2 = $('.data2');
	var dataElement3 = $('.data3');
	var startQuiz = $("#start_quiz");
	var PLAYBACKSPOT = $("#playbackSpot");
	var ANSWERSPOT = $("#answerSpot");
	var RESTARTSPOT = $("#restart_spot");


	//used to communicate question index number to various functions
	var current_question = 0; 

	var scales = [
		["Major", 2, 4, 5, 7, 9, 11, 12],
		["Dorian", 2, 3, 5, 7, 9, 10, 12],
		["Phrygian", 1, 3, 5, 7, 8, 10, 12],
		["Lydian", 2, 4, 6, 7, 9, 11, 12],
		["Mixolydian", 2, 4, 5, 7, 9, 10, 12],
		["Minor", 2, 3, 5, 7, 8, 10, 12],
		["Locrian", 1, 3, 5, 6, 8, 10, 12],
		["Harmonic Minor", 2, 3, 5, 7, 8, 11, 12],
	];

	var audioctx = new AudioContext();

	thequiz = new Quiz(5);
	
	//presents question and increases current_question
	startQuiz.on('click', function(){

		console.log("hell yeah");

		present_question(current_question,thequiz)

		//creates button + event listener to play note 1
		var note1button = document.createElement("BUTTON");
		var t = document.createTextNode("Play Note One");
		note1button.appendChild(t);
		document.getElementById("playbackSpot").appendChild(note1button);

		note1button.addEventListener('click', function(){

			playTone(thequiz.get_question(current_question).note1);

		});

		//creates button + event listener to play note 2
		var note2button = document.createElement("BUTTON");
		var t = document.createTextNode("Play Note Two");
		note2button.appendChild(t);
		document.getElementById("playbackSpot").appendChild(note2button);

		note2button.addEventListener('click', function(){

			playTone(thequiz.get_question(current_question).note2);


		});

		//creates button + event listener to play note 3
		var note3button = document.createElement("BUTTON");
		var t = document.createTextNode("Play Note Three");
		note3button.appendChild(t);
		document.getElementById("playbackSpot").appendChild(note3button);

		note3button.addEventListener('click', function(){

			playTone(thequiz.get_question(current_question).note3);


		});


		//creates button + event listener to play note 3
		var note4button = document.createElement("BUTTON");
		var t = document.createTextNode("Play Note 4");
		note4button.appendChild(t);
		document.getElementById("playbackSpot").appendChild(note4button);

		note4button.addEventListener('click', function(){

			playTone(thequiz.get_question(current_question).note4);


		});

		//creates button + event listener to play note 3
		var note5button = document.createElement("BUTTON");
		var t = document.createTextNode("Play Note 5");
		note5button.appendChild(t);
		document.getElementById("playbackSpot").appendChild(note5button);

		note5button.addEventListener('click', function(){

			playTone(thequiz.get_question(current_question).note5);


		});

		//creates button + event listener to play note 3
		var note6button = document.createElement("BUTTON");
		var t = document.createTextNode("Play Note 6");
		note6button.appendChild(t);
		document.getElementById("playbackSpot").appendChild(note6button);

		note6button.addEventListener('click', function(){

			playTone(thequiz.get_question(current_question).note6);


		});

		//creates button + event listener to play note 3
		var note7button = document.createElement("BUTTON");
		var t = document.createTextNode("Play Note 7");
		note7button.appendChild(t);
		document.getElementById("playbackSpot").appendChild(note7button);

		note7button.addEventListener('click', function(){

			playTone(thequiz.get_question(current_question).note7);


		});

		//creates button + event listener to play note 3
		var note8button = document.createElement("BUTTON");
		var t = document.createTextNode("Play Note 8");
		note8button.appendChild(t);
		document.getElementById("playbackSpot").appendChild(note8button);

		note8button.addEventListener('click', function(){

			playTone(thequiz.get_question(current_question).note8);


		});

		var repeatbutton = document.createElement("BUTTON");
		var t = document.createTextNode("Repeat Scale");
		repeatbutton.appendChild(t);
		document.getElementById("playbackSpot").appendChild(repeatbutton);

		repeatbutton.addEventListener('click', function(){

			playTone(note1);
			setTimeout(function(){playTone(note2);}, 500);
			setTimeout(function(){playTone(note3);}, 1000);
			setTimeout(function(){playTone(note4);}, 1500);
			setTimeout(function(){playTone(note5);}, 2000);
			setTimeout(function(){playTone(note6);}, 2500);
			setTimeout(function(){playTone(note7);}, 3000);
			setTimeout(function(){playTone(note8);}, 3500);


		});
		



		//----------ANSWER BUTTONS-----------------------------------------------
		//-----------------------------------------------------------------------
		var answerButton1 = document.createElement("BUTTON");
		var t = document.createTextNode("Major");
		answerButton1.appendChild(t);
		document.getElementById("answerSpot").appendChild(answerButton1);

		answerButton1.addEventListener('click', function(){

			answer(current_question,thequiz,"Major");


		});

		var answerButton2 = document.createElement("BUTTON");
		var t = document.createTextNode("Dorian");
		answerButton2.appendChild(t);
		document.getElementById("answerSpot").appendChild(answerButton2);

		answerButton2.addEventListener('click', function(){

			answer(current_question,thequiz,"Dorian");


		});

		var answerButton3 = document.createElement("BUTTON");
		var t = document.createTextNode("Phrygian");
		answerButton3.appendChild(t);
		document.getElementById("answerSpot").appendChild(answerButton3);

		answerButton3.addEventListener('click', function(){

			answer(current_question,thequiz,"Phrygian");


		});

		var answerButton4 = document.createElement("BUTTON");
		var t = document.createTextNode("Lydian");
		answerButton4.appendChild(t);
		document.getElementById("answerSpot").appendChild(answerButton4);

		answerButton4.addEventListener('click', function(){

			answer(current_question,thequiz,"Lydian");


		});

		var answerButton5 = document.createElement("BUTTON");
		var t = document.createTextNode("Mixolydian");
		answerButton5.appendChild(t);
		document.getElementById("answerSpot").appendChild(answerButton5);

		answerButton5.addEventListener('click', function(){

			answer(current_question,thequiz,"Mixolydian");


		});

		var answerButton6 = document.createElement("BUTTON");
		var t = document.createTextNode("Minor");
		answerButton6.appendChild(t);
		document.getElementById("answerSpot").appendChild(answerButton6);

		answerButton6.addEventListener('click', function(){

			answer(current_question,thequiz,"Minor");


		});

		var answerButton7 = document.createElement("BUTTON");
		var t = document.createTextNode("Locrian");
		answerButton7.appendChild(t);
		document.getElementById("answerSpot").appendChild(answerButton7);

		answerButton7.addEventListener('click', function(){

			answer(current_question,thequiz,"Locrian");


		});

		var answerButton8 = document.createElement("BUTTON");
		var t = document.createTextNode("Harmonic Minor");
		answerButton8.appendChild(t);
		document.getElementById("answerSpot").appendChild(answerButton8);

		answerButton8.addEventListener('click', function(){

			answer(current_question,thequiz,"Harmonic Minor");


		});

		//-----------------------------------------------------------------------
		//------------END OF ANSWER BUTTONS--------------------------------------

		//hides start quiz button
		startQuiz.hide();		

	});


	//generates two notes for question and assigns them to quiz on given index
	//also plays the two notes
	function genQuestion(index,quiz){

		//genData(true);
		//genData(false);
		
		genNoteSet();

		let question = new Question(note1, note2, note3, note4, note5, note6, note7, note8);
		quiz.set_question(index,question);

		playTone(note1);
		setTimeout(function(){playTone(note2);}, 500);
		setTimeout(function(){playTone(note3);}, 1000);
		setTimeout(function(){playTone(note4);}, 1500);
		setTimeout(function(){playTone(note5);}, 2000);
		setTimeout(function(){playTone(note6);}, 2500);
		setTimeout(function(){playTone(note7);}, 3000);
		setTimeout(function(){playTone(note8);}, 3500);


	}


	//plays tone at given hertz
	function playTone(note){
		
		if (note.label == "root") {
			console.log("-----playing the " + note.label + ", " + note.name + ", " + "at " + note.hertz + " hertz");
		} else {
			console.log("-----playing " + note.name + " at " + note.hertz + " hertz");
		}

		var oscillator = audioctx.createOscillator();
		var gainNode = audioctx.createGain();

		oscillator.type = 'sawtooth';
		oscillator.frequency.setValueAtTime(note.hertz, audioctx.currentTime);

		//oscillator.connect(audioctx.destination);
		gainNode.connect(audioctx.destination);
		oscillator.connect(gainNode);

		oscillator.start(audioctx.currentTime);
		gainNode.gain.setValueAtTime(0.01, audioctx.currentTime);
		oscillator.stop(audioctx.currentTime + 0.6);
	}


	//creates note with given steps offset from A4 (440 hertz)
	function create_note(steps){
		
		hertz = 440;

		const a = Math.pow(2, 1/12)
			
		label = scales[scaletype][0];
	

		mod = steps;

		while (11 < mod) {
			mod = mod - 12;
		}

		while (0 > mod) {
			mod = mod + 12;
		}

		name = notenames[mod];
	

		hertz = hertz * Math.pow(a, steps);
		
		
		console.log("Creating " + name + ", " + label + ", " + hertz + ", " + steps + ", ");
		
		return new Note(name, label, hertz, steps);
		

	}

	//generates a noteset for chord with all 3 chord tones
	function genNoteSet(){

		scaletype = randNum(0,7);
		initialoffset = randNum(-12,12)


		note1 = create_note(initialoffset);
		note2 = create_note(initialoffset + scales[scaletype][1]);
		note3 = create_note(initialoffset + scales[scaletype][2]);
		note4 = create_note(initialoffset + scales[scaletype][3]);
		note5 = create_note(initialoffset + scales[scaletype][4]);
		note6 = create_note(initialoffset + scales[scaletype][5]);
		note7 = create_note(initialoffset + scales[scaletype][6]);
		note8 = create_note(initialoffset + scales[scaletype][7]);

	}



	//generates question using genQuestion function and presents it to page
	function present_question(index,quiz){
		
		genQuestion(index,quiz);

		dataElement2.html("Question #" + (index + 1) + " of " + quiz.question_total);

		dataElement3.html(quiz.strikes + " strikes");

		dataElement.html(" Got " + note1.label + ", " + note1.name + ", " + note2.name + ", " + note3.name + ". " );
		
	}


	//checks answer ("input") of given question index per quiz object
	//increase current_question variable by 1
	function answer(index, quiz, input) {
		
		quiz.get_question(index).set_submittedanswer(input);
		
		//adds strike to quiz if answer is incorrect
		if(!quiz.get_question(index).check_answer()){
			quiz.add_strike();
		}
		
		//current_question = current_question + 1;

		current_question = current_question + 1;

		if(quiz.question_total===current_question) {
			
			end(quiz);
			
		} else {
			present_question(current_question,quiz)
		}

	}

	//runs on quiz completion
	function end(quiz) {

		dataElement2.html("");
		dataElement3.html("");

		console.log("all done");
		PLAYBACKSPOT.hide();
		ANSWERSPOT.hide();
		
		dataElement.html("QUIZ COMPLETE");
		response.html((quiz.question_total - quiz.strikes) + " out of " + quiz.question_total + " correct");



		if (first) {
			var restartButton = document.createElement("BUTTON");
			var t = document.createTextNode("Restart Quiz");
			restartButton.appendChild(t);
			document.getElementById("restart_spot").appendChild(restartButton);

			restartButton.addEventListener('click', function(){

				current_question = 0;
				thequiz = new Quiz(10);

				response.html("");

				PLAYBACKSPOT.show();
				ANSWERSPOT.show();

				present_question(current_question,thequiz)

				RESTARTSPOT.hide();

				first = false;

			}) } else {
			RESTARTSPOT.show();
		};


	}

	//generates a random number on or between minimum to maximum
	function randNum(min, max) {
  		return Math.floor(Math.random() * (max - min + 1) ) + min;
	}

</script>