<br>
<h1>SCALE QUIZ</h1>

	<div class = "bulk">
		<div class = "data2"></div>
		<div class = "data3"></div>
		<div class = "data"></div>
		<button id="start_quiz">Start Quiz</button>
		<div id="restart_spot"></div>
		<div class = "response"><br></div>

		<div id="timer_spot"></div>

		<div id="playbackSpot"></div>

		<div id="answerSpot"></div>
	</div>



<script>

	var Question = function(note1, note2, note3, note4, note5, note6, note7, note8){
			this.note1 = note1;
			this.note2 = note2;
			this.note3 = note3;
			this.note4 = note4;
			this.note5 = note5;
			this.note6 = note6;
			this.note7 = note7;
			this.note8 = note8;

			this.answer = note2.label;
			this.submittedanswer = "";
			this.time = 0;
			this.points = 0;

		}

	Question.prototype.get_answer = function(){
			return this.answer
		}

	Question.prototype.get_submittedanswer = function(){
			return this.submittedanswer
		}

	Question.prototype.set_submittedanswer = function(x){
			this.submittedanswer = x;
		}

	Question.prototype.check_answer = function(){
			if (this.answer === this.submittedanswer){
				this.correct = true;
				
				this.points = seconds * 100;

				response.html("CORRECT");

				console.log("CORRECT");
			} else {
				this.correct = false;
				this.points = 0;

				response.html("INCORRECT");

				console.log("INCORRECT")
			}
			
			this.time = seconds;

			return this.correct
		}

	
	var note1 = new Note("A", "root", 440, 0);
	var note2 = new Note("", "Second", 440, 0);
	var note3 = new Note("", "Third", 440, 0);
	var note4 = new Note("", "Fourth", 440, 0);
	var note5 = new Note("", "Fifth", 440, 0);
	var note6 = new Note("", "Sixth", 440, 0);
	var note7 = new Note("", "Seventh", 440, 0);
	var note8 = new Note("", "Octave", 440, 0);

	var notenames = ["A", "A#", "B", "C", "C#", "D", "D#", "E", "F", "F#", "G", "G#"];

	var first = true;
	var gimme = ""

	var response = $('.response');
	var dataElement = $('.data');
	var dataElement2 = $('.data2');
	var dataElement3 = $('.data3');
	var startQuiz = $("#start_quiz");
	var PLAYBACKSPOT = $("#playbackSpot");
	var ANSWERSPOT = $("#answerSpot");
	var RESTARTSPOT = $("#restart_spot");
	var timerSpot = $("#timer_spot"); 


	var repeatbutton;
	var repeatListener;

	var answerButton1;
	var answerButton2;
	var answerButton3;
	var answerButton4;
	var answerButton5;
	var answerButton6;
	var answerButton7;
	var answerButton8;

	var note1button;
	var note2button;
	var note3button;
	var note4button;
	var note5button;
	var note6button;
	var note7button;
	var note8button;


	var interval;
	var timer = function() {
	    	document.getElementById('timer_spot').innerHTML = --seconds;

	    	if (seconds == 0) {
	    		answer(current_question,thequiz,"TIMEOUT");
	    	}

	};

	


	//prevents timer from stacking intervals
	if (typeof interval !=='undefined') {
		console.log('cleared interval!');
		clearInterval(interval);
	}


	//used to communicate question index number to various functions
	var current_question = 0; 

	var scales = [
		["Major", 2, 4, 5, 7, 9, 11, 12],
		["Dorian", 2, 3, 5, 7, 9, 10, 12],
		["Phrygian", 1, 3, 5, 7, 8, 10, 12],
		["Lydian", 2, 4, 6, 7, 9, 11, 12],
		["Mixolydian", 2, 4, 5, 7, 9, 10, 12],
		["Minor", 2, 3, 5, 7, 8, 10, 12],
		["Locrian", 1, 3, 5, 6, 8, 10, 12],
		["Harmonic Minor", 2, 3, 5, 7, 8, 11, 12],
	];

	var audioctx = new AudioContext();

	thequiz = new Quiz(5);
	
	//presents question and increases current_question
	startQuiz.on('click', function(){
		
		//creates buttons to playback current scale tones
		note1button = createNoteButton("Play Note 1", "1", "playbackSpot" );
		note2button = createNoteButton("Play Note 2", "2", "playbackSpot" );
		note3button = createNoteButton("Play Note 3", "3", "playbackSpot" );
		note4button = createNoteButton("Play Note 4", "4", "playbackSpot" );
		note5button = createNoteButton("Play Note 5", "5", "playbackSpot" );
		note6button = createNoteButton("Play Note 6", "6", "playbackSpot" );
		note7button = createNoteButton("Play Note 7", "7", "playbackSpot" );
		note8button = createNoteButton("Play Note 8", "8", "playbackSpot" );


		repeatbutton = document.createElement("BUTTON");
		var t = document.createTextNode("Repeat Scale");
		repeatbutton.appendChild(t);
		document.getElementById("playbackSpot").appendChild(repeatbutton);

		repeatListener = function(){

			playTone(note1);
			setTimeout(function(){playTone(note2);}, 500);
			setTimeout(function(){playTone(note3);}, 1000);
			setTimeout(function(){playTone(note4);}, 1500);
			setTimeout(function(){playTone(note5);}, 2000);
			setTimeout(function(){playTone(note6);}, 2500);
			setTimeout(function(){playTone(note7);}, 3000);
			setTimeout(function(){playTone(note8);}, 3500);


		}


		repeatbutton.addEventListener('click', repeatListener);
		



		//----ANSWER BUTTONS-----------------------------------------------
		answerButton1 = createAnswerButton("Major", "answerSpot");
		answerButton2 = createAnswerButton("Dorian", "answerSpot");
		answerButton3 = createAnswerButton("Phrygian", "answerSpot");
		answerButton4 = createAnswerButton("Lydian", "answerSpot");
		answerButton5 = createAnswerButton("Mixolydian", "answerSpot");
		answerButton6 = createAnswerButton("Minor", "answerSpot");
		answerButton7 = createAnswerButton("Locrian", "answerSpot");
		answerButton8 = createAnswerButton("Harmonic Minor", "answerSpot");

		present_question(current_question,thequiz)

		//hides start quiz button
		startQuiz.hide();		

	});



	//generates two notes for question and assigns them to quiz on given index
	//also plays the two notes
	function genQuestion(index,quiz){
		
		genNoteSet();

		toggleEventListeners(false);

		let question = new Question(note1, note2, note3, note4, note5, note6, note7, note8);
		quiz.set_question(index,question);

		playTone(note1);
		setTimeout(function(){playTone(note2);}, 500);
		setTimeout(function(){playTone(note3);}, 1000);
		setTimeout(function(){playTone(note4);}, 1500);
		setTimeout(function(){playTone(note5);}, 2000);
		setTimeout(function(){playTone(note6);}, 2500);
		setTimeout(function(){playTone(note7);}, 3000);
		setTimeout(function(){playTone(note8);}, 3500);

		setTimeout(function(){toggleEventListeners(true);}, 4100);

	}



	//creates note with given steps offset from A4 (440 hertz)
	function create_note(steps){
		
		hertz = 440;

		const a = Math.pow(2, 1/12)
			
		label = scales[scaletype][0];
	

		mod = steps;

		while (11 < mod) {
			mod = mod - 12;
		}

		while (0 > mod) {
			mod = mod + 12;
		}

		name = notenames[mod];
	

		hertz = hertz * Math.pow(a, steps);
		
		
		console.log("Creating " + name + ", " + label + ", " + hertz + ", " + steps + ", ");
		
		return new Note(name, label, hertz, steps);
		

	}

	//generates a noteset for chord with all 3 chord tones
	function genNoteSet(){

		scaletype = randNum(0,7);
		initialoffset = randNum(-12,12)


		note1 = create_note(initialoffset);
		note2 = create_note(initialoffset + scales[scaletype][1]);
		note3 = create_note(initialoffset + scales[scaletype][2]);
		note4 = create_note(initialoffset + scales[scaletype][3]);
		note5 = create_note(initialoffset + scales[scaletype][4]);
		note6 = create_note(initialoffset + scales[scaletype][5]);
		note7 = create_note(initialoffset + scales[scaletype][6]);
		note8 = create_note(initialoffset + scales[scaletype][7]);

	}



	//generates question using genQuestion function and presents it to page
	function present_question(index,quiz){
		
		genQuestion(index,quiz);

		dataElement2.html("Question #" + (index + 1) + " of " + quiz.question_total);

		dataElement3.html("Total points: " + quiz.total_points + " ------- Strikes: " + quiz.strikes);

		dataElement.html(" Got " + note1.label + ", " + note1.name + ", " + note2.name + ", " + note3.name + ". " );
		

		seconds = 20;

		document.getElementById('timer_spot').innerHTML = seconds;

	}




	//runs on quiz completion
	function end(quiz) {

		clearInterval(interval);
		console.log("interval---");

		dataElement2.html(quiz.total_points + " points earned");
		dataElement3.html("");

		console.log("all done");
		PLAYBACKSPOT.hide();
		ANSWERSPOT.hide();
		timerSpot.hide();
		
		dataElement.html("QUIZ COMPLETE");
		response.html((quiz.question_total - quiz.strikes) + " out of " + quiz.question_total + " correct");



		if (first) {
			var restartButton = document.createElement("BUTTON");
			var t = document.createTextNode("Restart Quiz");
			restartButton.appendChild(t);
			document.getElementById("restart_spot").appendChild(restartButton);

			restartButton.addEventListener('click', function(){

				current_question = 0;
				thequiz = new Quiz(10);

				response.html("");

				PLAYBACKSPOT.show();
				ANSWERSPOT.show();
				timerSpot.show();

				present_question(current_question,thequiz)

				RESTARTSPOT.hide();

				first = false;

			}) } else {
			RESTARTSPOT.show();
		};


	}


	//toggles event button listeners. True for on, false for off
	//also stops and starts timer
	function toggleEventListeners(type) {

		if (type) {

			interval = setInterval(timer,1000);

			document.getElementById('timer_spot').style.color="white";

			repeatbutton.addEventListener('click', repeatListener);

			note1button.button.addEventListener('click', note1button.listener);
			note2button.button.addEventListener('click', note2button.listener);
			note3button.button.addEventListener('click', note3button.listener);
			note4button.button.addEventListener('click', note4button.listener);
			note5button.button.addEventListener('click', note5button.listener);
			note6button.button.addEventListener('click', note6button.listener);
			note7button.button.addEventListener('click', note7button.listener);
			note8button.button.addEventListener('click', note8button.listener);

			answerButton1.button.addEventListener('click', answerButton1.listener);
			answerButton2.button.addEventListener('click', answerButton2.listener);
			answerButton3.button.addEventListener('click', answerButton3.listener);
			answerButton4.button.addEventListener('click', answerButton4.listener);
			answerButton5.button.addEventListener('click', answerButton5.listener);
			answerButton6.button.addEventListener('click', answerButton6.listener);
			answerButton7.button.addEventListener('click', answerButton7.listener);
			answerButton8.button.addEventListener('click', answerButton8.listener);

		} else {
			
			clearInterval(interval);

			document.getElementById('timer_spot').style.color="grey";

			repeatbutton.removeEventListener('click', repeatListener);

			note1button.button.removeEventListener('click', note1button.listener);
			note2button.button.removeEventListener('click', note2button.listener);
			note3button.button.removeEventListener('click', note3button.listener);
			note4button.button.removeEventListener('click', note4button.listener);
			note5button.button.removeEventListener('click', note5button.listener);
			note6button.button.removeEventListener('click', note6button.listener);
			note7button.button.removeEventListener('click', note7button.listener);
			note8button.button.removeEventListener('click', note8button.listener);

			answerButton1.button.removeEventListener('click', answerButton1.listener);
			answerButton2.button.removeEventListener('click', answerButton2.listener);
			answerButton3.button.removeEventListener('click', answerButton3.listener);
			answerButton4.button.removeEventListener('click', answerButton4.listener);
			answerButton5.button.removeEventListener('click', answerButton5.listener);
			answerButton6.button.removeEventListener('click', answerButton6.listener);
			answerButton7.button.removeEventListener('click', answerButton7.listener);
			answerButton8.button.removeEventListener('click', answerButton8.listener);

		};

	}

	

</script>