@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Felipa|Righteous');
@import url('https://fonts.googleapis.com/css?family=Istok+Web');


h1 {
	text-align: center;
  
}

body {
  font-family: 'Istok Web', sans-serif;
  background: image_url('tile2.png');
  background-attachment: fixed;
  color: white;
}

.indexButton {
  background-color: #700000; 
  margin: 25px;
  text-align: center;
  padding: 100px 100px;
  border-radius: 16px;

}

a .indexButton{
  font-family: 'Righteous', cursive;
  color: white;
  font-size: 30px;
  text-align: center;
}


a .indexButton:hover{
  color: #b7acac;
  text-decoration:none;
  border-color: rgba(255,255,255,1);
}


.navbar {
  
  box-shadow: 0px 1px 3px #2a2a2a;
  
}

.navbar-light .navbar-text {
	color: red;
	
}

.navbar-light .navbar-brand {
	color: white;
}

.nav-link {
	color: white;
}

li .nav-item .active{
	color: white;
}

.data2  {
  text-align: left;
  
  margin-left: 200px;
}

.data3 {
  text-align: left;
  margin-left: 200px;
}

#timer_spot {
  font-size: 25px;
}


button {
  background-color: #000000; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  

}

#playbackSpot button:hover{
  border-color: rgba(255,255,255,1);
}

#playbackSpot button{
  background-color: #4c0000;
  border-radius: 25px;
  
  
}

#answerSpot {
 
  margin-right: 200px;
  margin-left: 200px;

  
  background-color: rgba(255,255,255,0.5);

}

#answerSpot button {
  opacity: 1.0;
}



#start_quiz {
	margin: auto;
 	width: 30%;
}

.bulk {
	text-align: center;
  min-width: 800px;

}





button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

