@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Hanalei+Fill|Open+Sans|Roboto');



h1 {
	text-align: center;
	
}

body {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
  background: image_url('tile.png');
  background-attachment: fixed;
}

.indexButton {
  background-color: #700000; 
  margin: 25px;
  text-align: center;
  padding: 100px 100px;

}

.indexButton a{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Hanalei Fill', cursive;
  color: white;
  font-size: 30px;
  text-align: center;
}


.indexButton a:hover{
  color: #b7acac;
  text-decoration:none;
}


.navbar {
  
  box-shadow: 0px 1px 3px #2a2a2a;
  
}

.navbar-light .navbar-text {
	color: red;
	
}

.navbar-light .navbar-brand {
	color: white;
}

.nav-link {
	color: white;
}

li .nav-item .active{
	color: white;
}

.data2  {
  text-align: left;
}

.data3 {
  text-align: left;
}


button {
  background-color: #000000; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  
}

#playbackSpot button{
  background-color: #4c0000;
  
  
}

#start_quiz {
	margin: auto;
 	width: 30%;
}

.bulk {
	text-align: center;
}





button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

